title: Alliance for Civic Technologists
description: ACT is a decentralized network of civic tech volunteer organizations.
url: "https://www.civictechnologists.org" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "" # the subpath of your site, e.g. /blog
timezone: "America/New_York"
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - scripts/
  - gemfiles/
  - .ruby-version
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - README.md
permalink: "/:year/:month/:title"
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
