<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 mb-0 text-body-secondary">
      <strong>Alliance of Civic Technologists</strong><br>
      <small>ACT is a decentralized network of civic tech volunteer organizations.</small>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="{{ "/assets/images/icon.png" | prepend: site.baseurl }}" width="60" alt="">
    </div>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="{{ "/" | prepend: site.baseurl }}" class="nav-link px-0 pe-2 py-1 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="{{ "/news" | prepend: site.baseurl }}" class="nav-link px-2 py-1 text-body-secondary">News</a></li>
      <li class="nav-item"><a href="https://eepurl.com/ithxXU" class="nav-link px-2 py-1 text-body-secondary">Mailing List</a></li>
      <li class="nav-item"><a href="https://docs.google.com/document/d/e/2PACX-1vT1_-zHvpxvCkDQ03mMCU7nhgrzGdyD0iW4mI6tM4wPohHK44pIPjUC67Em9VSxxPvf-2PFNnm3DxAE/pub" class="nav-link px-2 py-1 text-body-secondary">Code of Conduct</a></li>
      <li class="nav-item"><a href="mailto:hello@civictechnologists.org" class="nav-link px-2 py-1 text-body-secondary">Email</a></li>
      <li class="nav-item"><a href="https://opencollective.com/act-fund" class="nav-link px-2 py-1 text-body-secondary">Donate</a></li>
    </ul>
  </footer>
</div>
