<nav class="navbar bg-body-tertiary mb-3">
  <div class="container">
    <a class="navbar-brand h2 text-primary" href="{{ "/" | relative_url }}">
      <img src="{{ "/assets/images/icon.png" | relative_url }}" alt="" width="30" height="30" class="d-inline-block align-text-bottom">
      Alliance of Civic Technologists
    </a>
    <ul class="navbar-nav flex-row flex-wrap justify-content-between">
      <li class="nav-item mx-2">
        <a class="nav-link" aria-current="page" href="{{ "/" | relative_url }}">Home</a>
      </li>
    </ul>
  </div>
</nav>
