{% assign post = include.post %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="h3 post-title" itemprop="name headline">
      <a class="post-link  text-secondary" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h1>
    <p class="post-meta text-muted">
      {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time>{% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ post.content }}
  </div>
</article>
