@font-face {
  font-family: 'Barlow Condensed';
  src: url('/assets/fonts/BarlowCondensed-Bold-webfont.woff') format('woff'),
    url('/assets/fonts/BarlowCondensed-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Medium';
  src: url('/assets/fonts/Barlow-Medium-webfont.woff') format('woff'),
  url('/assets/fonts/Barlow-Medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
