.post-title a {
  text-decoration: none;
}

.post-content {
  img {
    max-width: 100%;
  }
}

.post + .post {
  margin-top: 1.5rem;
  @extend .border-top;
  padding-top: 1.5rem;
}

.page-nav-link {
  font-size: 0.9rem;
}