// ACT Brand Guidelines
// https://docs.google.com/presentation/d/105rj3KAznl1lqc48c91mwXhSxyTEzM1aCbOSdxJtZm4/edit#slide=id.g226e5e3f190_0_21
$act-democracy-blue: #0088D3;
$act-dark-blue: #052F42;
$act-medium-blue: #8CCEEA;
$act-light-blue: #E3F7FC;
$act-old-glory-red: #B31942;
$act-dark-red: #54011B;
$act-medium-red: #EF6C94;
$act-light-red: #F7D5E3;
$act-sunshine-yellow: #FFDD00;
$act-dark-yellow: #473300;
$act-medium-yellow: #FFED92;
$act-light-yellow: #FFF9D9;

$blue: $act-democracy-blue;
$red: $act-old-glory-red;

$primary: $red;
$secondary: $blue;
$body-color: $act-dark-blue;

$headings-font-family: 'Barlow Condensed', sans-serif;
//$font-family-base: 'Barlow Medium', sans-serif;
$font-size-base: 1.1rem;
