---
# Only the main CSS file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "application";

@font-face {
  font-family: 'Barlow Condensed';
  src: url("{{ "/assets/fonts/BarlowCondensed-Bold-webfont.woff" | relative_url }}") format('woff'),
url("{{ "/assets/fonts/BarlowCondensed-Bold-webfont.ttf" | relative_url }}") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Medium';
  src: url({{ '/assets/fonts/Barlow-Medium-webfont.woff' | relative_url }}) format('woff'),
  url({{ '/assets/fonts/Barlow-Medium-webfont.ttf' | relative_url }}) format('truetype');
  font-weight: normal;
  font-style: normal;
}

