---
layout: default
---
{% if page.locale %}
  {% assign locale = page.locale %}
{% else %}
  {% assign locale = site.defaultlocale %}
{% endif %}

{%- for loc in site.locales %}
  {% if loc[0] == locale %}
    {% assign localeInfo = loc[1] %}
    {% for lang in site.data.lang %}
      {% if lang[0] == localeInfo.language %}
        {% assign tr = lang[1] %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor -%}

<div class="container">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    <a href="{{ "/feed.xml" | prepend: localeInfo.path | relative_url }}" title="{{ tr.content.news.rssLink }}">
      <img src="/assets/images/rss-icon.svg" alt="{{ tr.content.news.rssIcon }}">
    </a>
  </header>

  {% if content %}
    <section>
      {{content}}
    </section>
  {% endif %}

  <section class="post-list">
    {% for post in paginator.posts %}
      {% include post.html post=post %}
    {% endfor %}
  </section>

  {% if paginator.total_pages > 1 %}
    <nav aria-label="{{ tr.pagination.label }}">
      <ul class="pagination">
        {% if paginator.first_page and paginator.previous_page %}
          <li class="page-item">
            <a href="{{ paginator.first_page_path }}" title="{{ tr.pagination.first }}" class="page-link">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&laquo;</span>
          </li>
        {% endif %}

        {% if paginator.previous_page %}
          <li class="page-item">
            <a href="{{ paginator.previous_page_path  }}" title="{{ tr.pagination.previous }}" class="page-link">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link" aria-hidden="true">&lt;</span>
          </li>
        {% endif %}

        {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
            {% if page.url != trail.path %}
              <li class="page-item">
                <a href="{{ trail.path | replace: "index.html", "" }}" title="{{ trail.title }}" class="page-link">
                  {{ trail.num }}
                </a>
              </li>
            {% else %}
              <li class="page-item active">
                <span class="page-link">{{ trail.num }}</span>
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if paginator.next_page %}
          <li class="page-item">
            <a href="{{ paginator.next_page_path }}" title="{{ tr.pagination.next }}" class="page-link">&gt;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&gt;</span>
          </li>
        {% endif %}

        {% if paginator.last_page and paginator.next_page %}
          <li class="page-item">
            <a href="{{ paginator.last_path }}" title="{{ tr.pagination.last }}" class="page-link">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">&raquo;</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>

