---
layout: news
---

{% assign post = page %}
{% include post.html post=post %}

<div class="post-footer text-body-secondary">
  <p>
    The Alliance of Civic Technologists (ACT) is an organization that connects volunteer civic technology efforts in both technology and advocacy within local communities.
    Formed in 2023, ACT's goal is to ensure the continuity and growth of civic technology volunteer communities across the United States, filling the
    gap left by the sunsetting of Code for America's Brigade Network.
  </p>
</div>

<section class="page-nav">
  <a href="/news/" class="page-nav-link">Back to News</a>
</section>
